# Object file
*.o

# vim
*~


# PyCharm
.idea/

# vscode
.vscode/

# sql
db.sqlite3
# 第一次上传的时候要禁用下面的忽略设置，然后自行删除文件，之后再打开
# migrations/
# !migrations/__init__.py
# media/

# Byte-compiled
__pycache__/
*.py[cod]
*$py.class