<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title itemprop="name">未找到页面</title>
    <link rel="shortcut icon" href="./images/favicon.ico">
    <link rel="stylesheet" id="siren-css" href="./css/style.css" type="text/css" media="all">
</head>

<body class="error404 hfeed">
    <section class="error-404 not-found">
        <div class="error-img">
            <img src="./images/404.jpg">
        </div>
        <div class="err-button back">
            <a id="golast" href="javascript:history.go(-1);">返回上一页</a>
            <a id="gohome" href="#">返回主页</a>
        </div>
    </section>
</body>

</html>