{% extends 'blog/base.html' %}
{% load staticfiles %}


{% block index_social %}
     <!-- 背景图部分 -->
        <div id="large-header" class="headertop large-header filter-undertint" style="height: auto; display: block;">
            <!-- 社交信息 -->
            <figure id="centerbg" class="centerbg"
                style="background-image: url({% static 'images/bg.jpg' %}); height: 927px;">
                <div class="focusinfo">
                    <div class="header-tou"><a href="#"><img src="/media/{{ avatar }}"></a>
                    </div>
                    <div id="hitokoto" class="header-info">
                        <p id="hitokoto_text">真正重要的东西，总是没有的人比拥有的人清楚。 -「银魂」</p>
                    </div>
                    <!-- 社交图片 -->
                    <div class="top-social">
                        <li class="wechat"><a href="#"><img src="{% static 'images/social/wechat.png' %} "></a>
                            <div class="wechatInner">
                                <img src="{% static 'images/skillcat921.jpg' %}" alt="微信公众号">
                            </div>
                        </li>
                        <li><a href="#" target="_blank" class="social-sina" title="sina">
                            <img src="{% static 'images/social/sina.png' %}"></a></li>
                        <li><a href="#" target="_blank" class="social-zhihu" title="zhihu">
                            <img src="{% static 'images/social/zhihu.png' %}"></a></li>
                        <li><a href="#" target="_blank" class="social-github" title="github">
                            <img src="{% static 'images/social/github.png' %}"></a></li>
                        <li><a href="#" target="_blank" class="social-bili" title="bilibili">
                            <img src="{% static 'images/social/bilibili.png' %}"></a></li>
                        <li><a href="#" target="_blank" class="social-wangyiyun" title="CloudMusic">
                            <img src="{% static 'images/social/wangyiyun.png' %}"></a>
                        </li>
                        <li><a href="#" target="_blank" class="social-wangyiyun" title="Twitter">
                            <img src="{% static 'images/social/twitter.png' %}"></a></li>
                    </div>
                </div>
            </figure>
            <!-- 视频 -->
            <div id="video-container" style="display:none;">
                <video id="bgvideo" class="video" src="" width="auto" preload="auto" style="min-height: 927px;"></video>
                <div id="video-btn" class="loadvideo videolive"></div>
                <div id="video-add"></div>
                <div class="video-stu"></div>
            </div>
            <canvas id="bubble-canvas" class="bubble" width="1920" height="927" style="display: inline-block;"></canvas>
        </div>
{% endblock %}


{% block content %}
            <div class="blank" style="padding-top: 0px;"></div>
            <div id="content" class="site-content">
                <!-- 通知框 -->
                <div class="notice">
                    <i class="iconfont"></i>
                    <!--加入类光标动画文字-->
                    <div class="notice-content">Scilper 主题延期更新中<span class="notice-cursor">~</span> </div>
                </div>
                <!-- 中间三个框 -->
                <div class="top-feature">
                    <h1 class="fes-title">Focus</h1>
                    <div class="feature-content">
                        <li class="feature-1">
                            <a href="#" target="_blank">
                                <div class="feature-title"><span class="foverlay">拥抱2019吧~</span></div>
                                <img src="#">
                            </a>
                        </li>
                        <li class="feature-2">
                            <a href="#" target="_blank">
                                <div class="feature-title"><span class="foverlay">Scilper 又又更新了~</span></div>
                                <img src="#">
                            </a>
                        </li>
                        <li class="feature-3">
                            <a href="#" target="_blank">
                                <div class="feature-title"><span class="foverlay">不说点什么？</span></div>
                                <img src="#">
                            </a>
                        </li>
                    </div>
                </div>
                <!-- 文章列表 -->
                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main">
                        <h1 class="main-title">Posts</h1>
                        <article class="post post-list-thumb " itemscope="" itemtype="contentUrl">
                            <div class="post-thumb">
                                <a href="http://blog.skillcat.me/wordpress/271.html"
                                    title="WordPress Scilper 主题（Akina-Siren扩展）">
                                    <img src="./images/1533715496-screenshot.jpg"
                                        alt="WordPress Scilper 主题（Akina-Siren扩展）">
                                </a>
                            </div><!-- thumbnail-->
                            <div class="post-content-wrap">
                                <div class="post-content">
                                    <div class="post-date">
                                        <i class="iconfont"></i>发布于 2017-06-27 &nbsp;<i class="iconfont hotpost"></i>
                                    </div>
                                    <a href="http://blog.skillcat.me/wordpress/271.html" class="post-title">
                                        <h3>WordPress Scilper 主题（Akina-Siren扩展）</h3>
                                    </a>
                                    <div class="post-meta">
                                        <span><i class="iconfont"></i>14.9k 热度</span>
                                        <span class="comments-number">
                                            <i class="iconfont"></i>
                                            <a href="http://blog.skillcat.me/wordpress/271.html#comments">176条评论</a>
                                        </span>
                                        <span>
                                            <i class="iconfont"></i>
                                            <a href="http://blog.skillcat.me/wordpress/">Wordpress</a>
                                        </span>
                                    </div>
                                    <div class="float-content">
                                        <p class="post-text">
                                            首先膜拜一下大佬 Fuzzz 创作出 Akina 这样的主题（本人特别喜欢这样的风格
                                            sigaoyi~），再鸣谢&nbsp;路易&nbsp;大佬在 Akina 的基础上 ...</p>
                                        <div class="post-bottom">
                                            <a href="http://blog.skillcat.me/wordpress/271.html" class="button-normal">
                                                <i class="iconfont"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="post post-list-thumb " itemscope="" itemtype="contentUrl">
                            <div class="post-thumb">
                                <a href="http://blog.skillcat.me/css/531.html" title="谈一谈清除浮动的常见方法">
                                    <img src="./images/Clear-floating.jpg" alt="谈一谈清除浮动的常见方法">
                                </a>
                            </div><!-- thumbnail-->
                            <div class="post-content-wrap">
                                <div class="post-content">
                                    <div class="post-date">
                                        <i class="iconfont"></i>发布于 2019-02-17 </div>
                                    <a href="http://blog.skillcat.me/css/531.html" class="post-title">
                                        <h3>谈一谈清除浮动的常见方法</h3>
                                    </a>
                                    <div class="post-meta">
                                        <span><i class="iconfont"></i>196 热度</span>
                                        <span class="comments-number">
                                            <i class="iconfont"></i>
                                            <a href="http://blog.skillcat.me/css/531.html#comments">3 条评论</a>
                                        </span>
                                        <span>
                                            <i class="iconfont"></i>
                                            <a href="http://blog.skillcat.me/css/">CSS/CSS3</a>
                                        </span>
                                    </div>
                                    <div class="float-content">
                                        <p class="post-text">什么是清除浮动?
                                            清除浮动，初学前端的小伙伴们往往不是很明白（有经验的开发者可以略过了~）。如果不清除浮动对float进行 ...</p>
                                        <div class="post-bottom">
                                            <a href="http://blog.skillcat.me/css/531.html" class="button-normal">
                                                <i class="iconfont"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </main>
                    <!-- 翻页按钮 -->
                    <div id="pagination"><a href="">上一个</a></div>
                </div>
            </div><!-- #content -->
{% endblock %}


{% block script %}
    <!-- 气泡动画 -->
    <script type="text/javascript" src="{% static 'js/bubble.js' %}"></script>
{% endblock %}