{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}左邻右舍{% endblock %}

{% block content %}
			<!-- 头部标题 同列表页,归档页,友链页,内容页-->
            <div class="pattern-center ">
                <div class="pattern-attachment-img"
                    style="background-image: url({% static 'images/bg6.jpeg' %})"></div>
                <header class="pattern-header ">
                    <h1 class="entry-title">左邻右舍</h1>
                </header>
            </div>
            <!-- 内容 -->
            <div id="content" class="site-content">
                <div id="thelink">
                    <div class="changeletter">
                        <p id="changelt" class="changelt"></p>
                    </div>
                    <article class="post-item post-37 page type-page status-publish has-post-thumbnail hentry">
                        <!-- 文章目录 -->
                        <!-- <div class="post_nav" style="">
                            <ul class="post_nav_content">
                            </ul>
                        </div> -->
                        <div class="links">
                            <h3 class="link-title">世界辣么大，总要多逛逛</h3>
                            <ul class="link-items fontSmooth">
                                <li class="link-item">
                                    <a class="link-item-inner effect-apollo" href="http://www.ui.cn/"
                                       title="我的交互动效都在这里学的~" target="_blank">
                                        <img class="linksimage" src="">
                                        <span class="sitename">UI中国</span>
                                        <div class="linkdes">我的交互动效都在这里学的~</div>
                                    </a>
                                </li>
                                <li class="link-item">
                                    <a class="link-item-inner effect-apollo" href="http://www.zcool.com.cn/"
                                       title="设计师互动平台（这我就不多说了吧~）" target="_blank">
                                        <img class="linksimage" src="">
                                        <span class="sitename">站酷（ZCOOL）</span>
                                        <div class="linkdes">设计师互动平台（这我就不多说了吧~）</div>
                                    </a>
                                </li>
                                <li class="link-item">
                                    <a class="link-item-inner effect-apollo" href="http://www.zcool.com.cn/"
                                       title="设计师互动平台（这我就不多说了吧~）" target="_blank">
                                        <img class="linksimage" src="">
                                        <span class="sitename">站酷（ZCOOL）</span>
                                        <div class="linkdes">设计师互动平台（这我就不多说了吧~）</div>
                                    </a>
                                </li>
                            </ul>
                            <h3 class="link-title">友情链接</h3>
                            <ul class="link-items fontSmooth">
                                <li class="link-item">
                                    <a class="link-item-inner effect-apollo" href="http://www.ui.cn/"
                                       title="我的交互动效都在这里学的~" target="_blank">
                                        <img class="linksimage" src="">
                                        <span class="sitename">UI中国</span>
                                        <div class="linkdes">我的交互动效都在这里学的~</div>
                                    </a>
                                </li>
                                <li class="link-item">
                                    <a class="link-item-inner effect-apollo" href="http://www.zcool.com.cn/"
                                       title="设计师互动平台（这我就不多说了吧~）" target="_blank">
                                        <img class="linksimage" src="">
                                        <span class="sitename">站酷（ZCOOL）</span>
                                        <div class="linkdes">设计师互动平台（这我就不多说了吧~）</div>
                                    </a>
                                </li>
                                <li class="link-item">
                                    <a class="link-item-inner effect-apollo" href="http://huaban.com/"
                                       title="陪你做生活的设计师" target="_blank">
                                        <img class="linksimage" src="">
                                        <span class="sitename">花瓣</span>
                                        <div class="linkdes">陪你做生活的设计师</div>
                                    </a>
                                </li>
                            </ul>
                            <h3 class="link-title">等待归来的海友</h3>
                            <ul class="link-items fontSmooth">
                                <li class="link-item">
                                    <a class="link-item-inner effect-apollo" href="http://www.ui.cn/"
                                       title="我的交互动效都在这里学的~" target="_blank">
                                        <img class="linksimage" src="">
                                        <span class="sitename">UI中国</span>
                                        <div class="linkdes">我的交互动效都在这里学的~</div>
                                    </a>
                                </li>
                                <li class="link-item">
                                    <a class="link-item-inner effect-apollo" href="http://www.zcool.com.cn/"
                                       title="设计师互动平台（这我就不多说了吧~）" target="_blank">
                                        <img class="linksimage" src="">
                                        <span class="sitename">站酷（ZCOOL）</span>
                                        <div class="linkdes">设计师互动平台（这我就不多说了吧~）</div>
                                    </a>
                                </li>
                                <li class="link-item">
                                    <a class="link-item-inner effect-apollo" href="http://huaban.com/"
                                       title="陪你做生活的设计师" target="_blank">
                                        <img class="linksimage" src="">
                                        <span class="sitename">花瓣</span>
                                        <div class="linkdes">陪你做生活的设计师</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
{% endblock %}
